<!-- common header show -->
<common-header></common-header>
 
<ion-content class="page-wrapper">
    <div class="page-inner">
        <ion-row class="width-100 sub-header nomargin nopadding">
            <ion-col size-xs="7" size-sm="6" class = "sub-header-item pull-left width-100 padding-10">
                <div class = "sub-header-color pull-left width-100 font-size-18 vertical-middle">
                    <span>{{actionHeaderText}} Skill</span>
                </div>
            </ion-col>
            <ion-col size-xs="5" size-sm="6" class = "sub-header-item pull-left width-100 padding-10">
                <div class = "sub-header-color width-100 text-right">
                <span class="font-size-13"> {{curentDate | date:'dd MMM yyy'}} <i>|</i> {{curentDate | date:'h:mm a '}}</span>
                </div>
            </ion-col>
        </ion-row> 
        <div class="add-new-page-body" [ngClass]="{'disabled': form_submit_text == 'Submitting'}">

            <!-- loading -->
            <div class="edit-loading-page" *ngIf="editLoading">
                <span>
                    <ion-spinner name="lines"></ion-spinner>
                </span>
            </div>

            <form  #addForm="ngForm" (ngSubmit)="onSubmit(addForm)" >
                <div class="add-new-page-under">
                    <ion-grid>
                        <ion-row>

                            <!-- for edit -->
                            <input *ngIf="actionHeaderText == 'Edit'" type="hidden" name="_method" [(ngModel)]="onEditField">

                            <!-- Name -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                              <div>
                                <ion-label position="floating">Name<sup>*</sup></ion-label>
                                <ion-input name="name" [(ngModel)]="model.name" clearInput required></ion-input>
                              </div>
                            </ion-col>

                            <!-- Company -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">Skilling Partner<sup>*</sup></ion-label>
                                    <ng-select  #companyNameSerch
                                    [loading]="selectLoading"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Skilling Partner"
                                    [items]="companyList"
                                    bindLabel="name"
                                    name="company_id"
                                    bindValue="id"
                                    [searchable]="false"
                                    [(ngModel)]="model.company_id"
                                    required
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="companyNameSerch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                    </ng-select>
                                </div>
                            </ion-col>

                            <!-- price -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">Price</ion-label>
                                    <ion-input name="price" OnlyNumber="true" [(ngModel)]="model.price" clearInput 
                                    ></ion-input>
                                </div>
                            </ion-col>

                            <!-- duration -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">Duration (in days)</ion-label>
                                    <ion-input name="duration" OnlyNumber="true" [(ngModel)]="model.duration" clearInput 
                                    ></ion-input>
                                </div>
                            </ion-col>

                            <!-- Category -->
                            <!-- <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <ion-label position="floating"> Category </ion-label>

                                <ion-label  tooltip="Add Category" flow="up" delay="500" (click)="onCategoryAddModal('category', model.category, categoryList, 'add', 'skill')" class="add-button" [hidden]="selectLoading ">
                                    
                                    <ion-icon name="add"></ion-icon>
                                    Add 
                                </ion-label>

                                <ng-select #categorySerch
                                    [loading]="selectLoading"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Category"
                                    [items]="categoryList"
                                    bindLabel="name"
                                    name="category"
                                    bindValue="id"
                                    [searchable]="false"
                                    [(ngModel)]="model.category"
                                    [multiple]="true"
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="categorySerch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                </ng-select>
                            </ion-col> -->

                            <!-- industry_type -->
                            <!-- <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">Sector</ion-label>
                                    <ng-select  #industryNameSerch
                                    [loading]="selectLoading"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Sector"
                                    [items]="industryList"
                                    bindLabel="name"
                                    name="industry_type_id"
                                    bindValue="id"
                                    [searchable]="false"
                                    [(ngModel)]="model.industry_type_id"
                                    
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="industryNameSerch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                    </ng-select>
                                </div>
                            </ion-col> -->

                            <!-- City -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">City<sup>*</sup></ion-label>
                                    <ng-select  #cityNameSerch
                                      [loading]="selectLoading"
                                      [dropdownPosition]="'bottom'"
                                      placeholder="Please Select City"
                                      [items]="cityList"
                                      bindLabel="name"
                                      name="city"
                                      bindValue="id"
                                      [searchable]="false"
                                      [(ngModel)]="model.city"
                                      [multiple]="true"
                                      required
                                      >
                                      <ng-template ng-header-tmp>
                                          <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="cityNameSerch.filter($event.target.value)" [autofocus]="true" />
                                      </ng-template>
                                    </ng-select>
                                </div>
                            </ion-col>

                            <!-- Rating -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">Rating</ion-label>
                                    <ng-select  #ratingNameSerch
                                    [loading]="selectLoading"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Rating"
                                    [items]="ratingList"
                                    bindLabel="name"
                                    name="rating"
                                    bindValue="id"
                                    [searchable]="false"
                                    [(ngModel)]="model.rating"
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="ratingNameSerch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                    </ng-select>
                                </div>
                            </ion-col>

                            <!-- Education -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                              <ion-label position="floating"> Education<sup>*</sup> </ion-label>
                              <ng-select #QualificationSerch
                                  [loading]="selectLoading"
                                  [dropdownPosition]="'bottom'"
                                  placeholder="Please Select Education"
                                  [items]="qualificationList"
                                  bindLabel="name"
                                  name="qualification"
                                  bindValue="id"
                                  [searchable]="false"
                                  [(ngModel)]="model.qualification"
                                  (change)="onChangeStudy(model.qualification, 'degree', '')"
                                  [multiple]="true"
                                  required
                                  >
                                  <ng-template ng-header-tmp>
                                      <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="QualificationSerch.filter($event.target.value)" [autofocus]="true" />
                                  </ng-template>
                              </ng-select>
                            </ion-col>

                            <!-- Degree -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <ion-label position="floating"> Degree</ion-label>
                                <ng-select #degreeSearch
                                    [loading]="selectLoadingDepend"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Degree"
                                    [items]="degreeList"
                                    bindLabel="name"
                                    bindValue="id"
                                    [searchable]="false"
                                    name="qual_degree" 
                                    [(ngModel)]="model.qual_degree"
                                    (change)="onChangeStudy(model.qual_degree, 'interest', '')"
                                    appendTo="body"
                                    [multiple]="true"
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="degreeSearch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                </ng-select>
                            </ion-col>

                            <!-- Area of Interest -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <ion-label position="floating"> Area of Interest </ion-label>
                                <ng-select #interestSearch
                                    [loading]="selectLoadingDepend"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Area of Interest"
                                    [items]="interestList"
                                    bindLabel="name"
                                    bindValue="id"
                                    [searchable]="false"
                                    name="qual_interest" 
                                    [(ngModel)]="model.qual_interest" 
                                    (change)="onChange(model.qual_interest)"
                                    appendTo="body"
                                    [multiple]="true"
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="interestSearch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                </ng-select>
                            </ion-col>

                            <!-- Subject -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <ion-label position="floating"> Subject<sup>*</sup></ion-label>
                                <ng-select #subjectSearch
                                    [loading]="selectLoading"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Subject"
                                    [items]="subjectList"
                                    bindLabel="name"
                                    bindValue="id"
                                    [searchable]="false"
                                    name="qual_subject" 
                                    [(ngModel)]="model.qual_subject " 
                                    appendTo="body"
                                    [multiple]="true"
                                    required
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="subjectSearch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                </ng-select>
                            </ion-col>

                            <!-- Branch -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">Branch</ion-label>
                                    <ng-select  #branchNameSerch
                                    [loading]="selectLoading"
                                    [dropdownPosition]="'bottom'"
                                    placeholder="Please Select Branch"
                                    [items]="branchList"
                                    bindLabel="name"
                                    name="branch"
                                    bindValue="id"
                                    [searchable]="false"
                                    [(ngModel)]="model.branch"
                                    >
                                    <ng-template ng-header-tmp>
                                        <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="branchNameSerch.filter($event.target.value)" [autofocus]="true" />
                                    </ng-template>
                                    </ng-select>
                                </div>
                            </ion-col>

                            <!-- Placement -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="3">
                                <div>
                                    <ion-label position="floating">Placement</ion-label>
                                    <ion-input name="placement" [(ngModel)]="model.placement" clearInput 
                                    ></ion-input>
                                </div>
                            </ion-col>

                            <!-- Enable Button -->
                            <ion-col size-xs="6" size-sm="6" size-md="3"  size-lg="2">
                                <div class="toggle-button">
                                    <ion-label>Enable</ion-label>
                                    <ion-label>
                                        <p class="onoff"><input type="checkbox" value="1" id="checkboxID" name="status" [(ngModel)]="model.enable"><label for="checkboxID"></label></p>
                                    </ion-label>
                                </div>
                            </ion-col>

                            <!-- Image -->
                            <ion-col size-xs="12" size-sm="4" >
                                <div>
                                    <ion-label position="floating">Image</ion-label>
                                    <div class="normal-file-uploading">
                                    <span class="upload-file">
                                        Upload Image
                                        <input [(ngModel)]="model.image2" type="file" (change)="normalFileUpload($event)" placeholder="Upload file" [ngModelOptions]="{standalone: true}" accept="image/*">
                                    </span>
                                    <!-- accept=".pdf,.jpg,.doc,.docx" -->
                                    <span [hidden]="!model.image" class="file-name">{{model.image}}</span>
                                    <span class="image-clear" (click)="fileCross(model.image)" [hidden]="!model.image">
                                        <ion-icon name="close"></ion-icon>
                                    </span>
                                    </div>
                                </div>
                            </ion-col>
                                
                            <!-- Short Description -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="6">
                                <div>
                                    <ion-label position="floating">Short Description</ion-label>
                                    <ion-textarea auto-grow="true" name="short_description" [(ngModel)]="model.short_description" clearInput></ion-textarea>
                                </div>
                            </ion-col>

                            <!-- Requirement -->
                            <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="6">
                            <div>
                                <ion-label position="floating">Requirement</ion-label>
                                <ion-textarea auto-grow="true" name="requirement" [(ngModel)]="model.requirement" clearInput></ion-textarea>
                            </div>
                            </ion-col>

                            <!--Description -->
                            <ion-col size-xs="12" >
                                <div>
                                    <ion-label position="floating">Description</ion-label>
                                    <!-- <ion-textarea auto-grow="true" name="description" [(ngModel)]="model.description" clearInput></ion-textarea> -->
                                    <div class="tyncy-text-editor">
                                        <tinymce name="description" [(ngModel)]="model.description" [config]="config"></tinymce>
                                    </div>
                                </div>
                            </ion-col>

                            <!--certification -->
                            <!-- <ion-col size-xs="12" >
                                <div class="toggle-button same-line">
                                    <ion-label class="show-label">Certification</ion-label>
                                    <ion-label>
                                        <p class="onoff">
                                            <input type="checkbox" id="checkboxID" name="certification" [(ngModel)]="model.certification">
                                            <label for="checkboxID"></label>
                                        </p>
                                    </ion-label>
                                    <div class="show-certification" *ngIf="model.certification">
                                        <div>
                                            <ion-label position="floating">Certification Description</ion-label>
                                            <ion-textarea auto-grow="true" name="certification_desc" [(ngModel)]="model.certification_desc" clearInput></ion-textarea>
                                        </div>
                                    </div>
                                </div>
                            </ion-col> -->

                            <!-- ================= multuple module start ========== -->
                              <ion-row style="width:100%;">
                                  <div class="detail-information">
                                      <!-- <ion-col>
                                          <ion-label >
                                              <span>Add detailed information releated to PDC   </span>
                                              <span (click)="toggleShow = !toggleShow" class="click-here">
                                                  {{!toggleShow ? 'Hide' : 'click here' }}
                                              </span>
                                          </ion-label>
                                      </ion-col> 
                                      <ion-grid class="detail-information-pdc" [hidden]="toggleShow"> -->
                                      <ion-grid class="detail-information-pdc">
                                        <ion-row *ngFor="let item of model.pages; let i = index;  let first = first; let last = last;  let odd = odd" [ngClass]="{ 'odd-pdc-row': odd}">
                                            <!--(+ -) button start -->
                                            <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12" class="button-add-remove-wrapper">
                                                <span class="title">Course Module {{i + 1}}</span>
                                                <!-- minus Button -->
                                                <div class="button-add-remove">
                                                    <div class="add-address-btn remove" [hidden]="first">
                                                        <ion-button color="danger" size="small" (click)="removeItem(i, $event, model.pages, '', '');">
                                                            <ion-ripple-effect></ion-ripple-effect>
                                                            <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
                                                        </ion-button>
                                                    </div>
                                                </div>
                                                <!-- Plus Button -->
                                                <div class="button-add-remove" *ngIf="first || last">
                                                    <div class="add-address-btn">
                                                        <ion-button color="warning" size="small" (click)="addItem(model.pages, item)">
                                                            <!-- <ion-ripple-effect></ion-ripple-effect> -->
                                                            <ion-icon ios="ios-add" md="md-add"></ion-icon>
                                                        </ion-button>
                                                    </div>
                                                </div>
                                            </ion-col>
                                            <!-- (+ -) button end -->
                                            
                                            <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12" style="border: 1px solid #f2f2f2; margin-bottom:10px;">
                                                    <ion-row>

                                                        <!-- Name -->
                                                        <ion-col size-xs="12" size-sm="4" size-md="4"  size-lg="4">
                                                            <div>
                                                            <ion-label position="floating"> Name </ion-label>
                                                            <ion-input name="module[{{i}}][name]" [(ngModel)]="item.name" clearInput  ></ion-input>
                                                            </div>
                                                        </ion-col>

                                                        <!--  Description-->
                                                        <ion-col size-xs="12" size-sm="8" size-md="8"  size-lg="8">
                                                            <div>
                                                            <ion-label position="floating">Description</ion-label>
                                                            <ion-textarea auto-grow="true" name="module[{{i}}][description]" [(ngModel)]="item.description" clearInput></ion-textarea>
                                                            </div>
                                                        </ion-col>

                                                </ion-row>
                                            </ion-col>
                                        </ion-row>
                                      </ion-grid>
                                  </div>
                              </ion-row>
                            <!-- multiple module end -->

                            <!-- ================= multuple feature start ========== -->
                                <ion-row style="width:100%;">
                                    <div class="detail-information">
                                        <ion-grid class="detail-information-pdc">
                                        <ion-row *ngFor="let item of model.pages_address; let i = index;  let first = first; let last = last;  let odd = odd" [ngClass]="{ 'odd-pdc-row': odd}">
                                            <!--(+ -) button start -->
                                            <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12" class="button-add-remove-wrapper">
                                                <span class="title">Course Feature {{i + 1}}</span>
                                                <!-- minus Button -->
                                                <div class="button-add-remove">
                                                    <div class="add-address-btn remove" [hidden]="first">
                                                        <ion-button color="danger" size="small" (click)="removeItem(i, $event, model.pages_address, '', '');">
                                                            <ion-ripple-effect></ion-ripple-effect>
                                                            <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
                                                        </ion-button>
                                                    </div>
                                                </div>
                                                <!-- Plus Button -->
                                                <div class="button-add-remove" *ngIf="first || last">
                                                    <div class="add-address-btn">
                                                        <ion-button color="warning" size="small" (click)="addItem(model.pages_address, item)">
                                                            <!-- <ion-ripple-effect></ion-ripple-effect> -->
                                                            <ion-icon ios="ios-add" md="md-add"></ion-icon>
                                                        </ion-button>
                                                    </div>
                                                </div>
                                            </ion-col>
                                            <!-- (+ -) button end -->
                                            
                                            <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12" style="border: 1px solid #f2f2f2; margin-bottom:10px;">
                                                <ion-row>

                                                   <!-- Name -->
                                                   <ion-col size-xs="12" size-sm="4" size-md="4"  size-lg="4">
                                                        <div>
                                                        <ion-label position="floating"> Name </ion-label>
                                                        <ion-input name="feature[{{i}}][name]" [(ngModel)]="item.name" clearInput  ></ion-input>
                                                        </div>
                                                    </ion-col>

                                                    <!--  Description-->
                                                    <ion-col size-xs="12" size-sm="8" size-md="8"  size-lg="8">
                                                        <div>
                                                        <ion-label position="floating">Description</ion-label>
                                                        <ion-textarea auto-grow="true" name="feature[{{i}}][description]" [(ngModel)]="item.description" clearInput></ion-textarea>
                                                        </div>
                                                    </ion-col>

                                                </ion-row>
                                            </ion-col>
                                        </ion-row>
                                        </ion-grid>
                                    </div>
                                </ion-row>
                            <!-- multiple feature end -->
                            
                        </ion-row>
                    </ion-grid>
                </div>
                <div class="form-button-section">
                    <ion-grid>
                        <ion-row>
                            <ion-col class="ion-text-center" size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                                <ion-button color="danger" size="default" tooltip="Reload" (click)="reloadPageAlert()">
                                    Reload
                                </ion-button>
                                <ion-button (click)="clickButtonType('Save')" color="secondary" size="default"
                                type="submit" [disabled]="!addForm.valid" 
                                color="secondary" tooltip="Save" flow="up">
                                    <ion-spinner *ngIf="form_submit_text_save == 'Submitting'" name="crescent"></ion-spinner> 
                                    <span class="submitText">{{form_submit_text_save}}</span>
                                </ion-button>
                                <ion-button (click)="clickButtonType('Save-add-another')" color="secondary" size="default"
                                    type="submit" [disabled]="!addForm.valid" 
                                    color="secondary" tooltip="Save & Add Another" flow="up">
                                    <ion-spinner *ngIf="form_submit_text_save_another == 'Submitting'" name="crescent"></ion-spinner> 
                                    <span class="submitText">
                                        <span class="submitText">{{form_submit_text_save_another}}</span>
                                    </span>
                                </ion-button>
                                <ion-button size="default" fill="clear" color="danger" tooltip="Cancel" flow="up" [routerLink]="['/', 'skill']">
                                    <ion-icon name="close"></ion-icon>
                                    Cancel
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </form>
        </div>
    </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
