<!-- common header show -->
<common-header></common-header>

<ion-content class="page-wrapper">
    <div class="page-inner">
        <ion-row class="width-100 sub-header nomargin nopadding">
            <ion-col size-xs="7" size-sm="6" class = "sub-header-item pull-left width-100 padding-10">
                <div class = "sub-header-color pull-left width-100 font-size-18 vertical-middle">
                    <span>{{actionHeaderText}} Location</span>
                </div>
            </ion-col>
            <ion-col size-xs="5" size-sm="6" class = "sub-header-item pull-left width-100 padding-10">
                <div class = "sub-header-color width-100 text-right">
                <span class="font-size-13"> {{curentDate | date:'dd MMM yyy'}} <i>|</i> {{curentDate | date:'h:mm a '}}</span>
                </div>
            </ion-col>
        </ion-row>
        <div class="add-new-page-body" [ngClass]="{'disabled': form_submit_text == 'Submitting'}">

            <!-- loading -->
            <div class="edit-loading-page" *ngIf="editLoading">
                <span>
                    <ion-spinner name="lines"></ion-spinner>
                </span>
            </div>

            <form  #addForm="ngForm" (ngSubmit)="onSubmit(addForm)" >
                <div class="add-new-page-underpart">
                    <ion-grid>
                        <ion-row>

                            <!-- for edit -->
                            <input *ngIf="actionHeaderText == 'Edit'" type="hidden" name="_method" [(ngModel)]="onEditField">

                            <!-- Name -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <div>
                                    <ion-label position="floating">Name<sup>*</sup></ion-label>
                                    <ion-input name="name" [(ngModel)]="model.name" clearInput required></ion-input>
                                </div>
                            </ion-col>

                            <!-- Code -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <div>
                                    <ion-label position="floating">Code<sup>*</sup></ion-label>
                                    <ion-input name="code" [(ngModel)]="model.code" clearInput required></ion-input>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <!-- Address Line 1 -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <div>
                                    <ion-label position="floating">Address Line 1<sup>*</sup></ion-label>
                                    <ion-input name="address_line1" [(ngModel)]="model.address_line1" clearInput required></ion-input>
                                </div>
                            </ion-col>
                            <!-- Address Line 2 -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <div>
                                    <ion-label position="floating">Address Line 2</ion-label>
                                    <ion-input name="address_line2" [(ngModel)]="model.address_line2" clearInput ></ion-input>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <!-- Country -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <ion-label position="floating">Country<sup>*</sup></ion-label>
                                <ng-select  #countryNameSerch
                                [loading]="selectLoading"
                                [dropdownPosition]="'bottom'"
                                placeholder="Please Select Country"
                                [items]="countrysList"
                                bindLabel="name"
                                name="country_id"
                                bindValue="id"
                                [searchable]="false"
                                [(ngModel)]="model.country_id"
                                required
                                >
                                <ng-template ng-header-tmp>
                                    <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="countryNameSerch.filter($event.target.value)" [autofocus]="true" />
                                </ng-template>
                                </ng-select>
                            </ion-col>
                             <!-- State *-->
                             <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <ion-label position="floating">State<sup>*</sup></ion-label>
                                <ion-input name="state" [(ngModel)]="model.state" clearInput required ></ion-input>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <!-- City *-->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <div>
                                    <ion-label position="floating">City<sup>*</sup></ion-label>
                                    <ion-input name="city" [(ngModel)]="model.city" required clearInput ></ion-input>
                                </div>
                            </ion-col>
                            <!-- pincode -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <div>
                                    <ion-label position="floating">Pin<sup>*</sup></ion-label>
                                    <ion-input OnlyNumber="true" name="pin" [(ngModel)]="model.pin" clearInput minlength="6"maxlength="6" required></ion-input>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <!-- Lead Manager -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <ion-label position="floating">Lead Manager</ion-label>
                                <ng-select  #leadNameSerch
                                [loading]="selectLoading"
                                [dropdownPosition]="'bottom'"
                                placeholder="Please Select Lead Manager"
                                [items]="employeeList"
                                bindLabel="full_name"
                                name="lead_manager_id"
                                bindValue="id"
                                [searchable]="false"
                                [(ngModel)]="model.lead_manager_id"
                                >
                                <ng-template ng-header-tmp>
                                    <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="leadNameSerch.filter($event.target.value)" [autofocus]="true" />
                                </ng-template>
                                </ng-select>
                            </ion-col>
                            <!-- Branch Admin -->
                            <ion-col size-xs="12" size-sm="6" size-md="6"  size-lg="6">
                                <ion-label position="floating">Branch Admin</ion-label>
                                <ng-select  #branchAdminNameSerch
                                  [loading]="selectLoading"
                                  [dropdownPosition]="'bottom'"
                                  placeholder="Please Select Branch Admin"
                                  [items]="employeeList"
                                  bindLabel="full_name"
                                  [multiple]="true"
                                  name="location_admin"
                                  bindValue="id"
                                  [searchable]="false"
                                  [(ngModel)]="model.branch_admin_model"
                                  >
                                  <ng-template ng-header-tmp>
                                      <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="branchAdminNameSerch.filter($event.target.value)" [autofocus]="true" />
                                  </ng-template>
                                </ng-select>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <!-- Location Description -->
                            <ion-col size="12" >
                              <div class="toggle-button">
                                <ion-label>Enable</ion-label>
                                <ion-label>
                                    <p class="onoff"><input type="checkbox" value="1" id="checkboxID" name="status" [(ngModel)]="model.enable"><label for="checkboxID"></label></p>
                                </ion-label>
                              </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <div class="form-button-section">
                    <ion-grid>
                        <ion-row>
                            <ion-col class="ion-text-center" size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                                <ion-button color="danger" size="default" tooltip="Reload" (click)="reloadPageAlert()">
                                    Reload
                                </ion-button>
                                <ion-button (click)="clickButtonType('Save')" color="secondary" size="default"
                                type="submit" [disabled]="!addForm.valid" 
                                color="secondary" tooltip="Save" flow="up">
                                    <ion-spinner *ngIf="form_submit_text_save == 'Submitting'" name="crescent"></ion-spinner> 
                                    <span class="submitText">{{form_submit_text_save}}</span>
                                </ion-button>
                                <ion-button (click)="clickButtonType('Save-add-another')" color="secondary" size="default"
                                    type="submit" [disabled]="!addForm.valid" 
                                    color="secondary" tooltip="Save & Add Another" flow="up">
                                    <ion-spinner *ngIf="form_submit_text_save_another == 'Submitting'" name="crescent"></ion-spinner> 
                                    <span class="submitText">
                                        <span class="submitText">{{form_submit_text_save_another}}</span>
                                    </span>
                                </ion-button>
                                <ion-button size="default" fill="clear" color="danger" tooltip="Cancel" flow="up" [routerLink]="['/', 'location-list']">
                                    <ion-icon name="close"></ion-icon>
                                    Cancel
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </form>
        </div>
    </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
